name: releases-on-linux-arm64

on:
  push:
    tags:
      - "v*"

env:
  USE_NATIVE_VERSION: v0.0.0
  UNAMESPACER: linux-arm64

jobs:
  init:
    name: Init
    runs-on: ubuntu-latest
    outputs:
      TARGETS: ${{ steps.get_all_targets.outputs.TARGETS }}
    steps:
      - uses: actions/checkout@v4

      - name: Get all targets
        id: get_all_targets
        run: |
          declare -a arr=()
          while IFS= read -r line; do
          if [ -z "$line" ] || [ "${line:0:1}" == "#" ]; then
            continue
          fi
          arr+=("$line")
          done < scripts/triples.txt
          printf -v json '"%s",' "${arr[@]}"
          json="[${json%,}]"
          echo "TARGETS=$json" >> $GITHUB_OUTPUT

      - name: Download sources
        run: |
          bash scripts/build.sh -d

      - name: Upload sources
        uses: actions/upload-artifact@v4
        with:
          name: sources
          path: sources

  build_targets_on_linux_arm64_cross:
    name: Build cross
    runs-on: ubuntu-latest
    needs:
      - init
    strategy:
      fail-fast: false
      matrix:
        targets: ${{ fromJSON(needs.init.outputs.TARGETS) }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: sources
          path: sources

      - uses: uraimo/run-on-arch-action@v2
        name: Build
        id: build
        with:
          arch: arm64
          distro: alpine_latest
          githubToken: ${{ github.token }}
          dockerRunArgs: |
            --volume "${PWD}:/build"
          shell: /bin/sh
          install: |
            apk add --no-cache \
              coreutils \
              curl \
              bzip2 \
              xz \
              make \
              bison \
              rsync \
              patch \
              perl
          run: |
            cd /build
            NATIVE_COMPILER="https://github.com/${{ github.repository }}/releases/download/${{ github.env.USE_NATIVE_VERSION }}/aarch64-linux-musl-native-${{ env.UNAMESPACER }}.tgz"
            NATIVE_COMPILER_STATUS=$(curl -sILo /dev/null -w "%{http_code}\n" $NATIVE_COMPILER)
            if [ $NATIVE_COMPILER_STATUS -ne 200 ]; then apk add --no-cache g++; else mkdir -p "aarch64-linux-musl-native" && curl -sL "$NATIVE_COMPILER" | tar -zxf - -C "aarch64-linux-musl-native" --strip-components 1 && chmod -R 0755 aarch64-linux-musl-native && export PATH="$PWD/aarch64-linux-musl-native/bin:$PATH"; fi
            sh scripts/build.sh \
                -LDP \
                -T "${{ matrix.targets }}"

      - name: Upload ${{ matrix.targets }} cross
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.targets }}-cross
          path: dist/${{ matrix.targets }}-cross

      - name: Archive
        run: |
          mkdir -p archive
          tar -zcvf archive/${{ matrix.targets }}-cross-${{ env.UNAMESPACER }}.tgz \
            -C dist/${{ matrix.targets }}-cross \
            .

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: false
          prerelease: false
          append_body: false
          fail_on_unmatched_files: true
          files: |
            archive/*.tgz

  build_targets_on_linux_arm64_native:
    name: Build native
    runs-on: ubuntu-latest
    needs:
      - init
      - build_targets_on_linux_arm64_cross
    strategy:
      fail-fast: false
      matrix:
        targets: ${{ fromJSON(needs.init.outputs.TARGETS) }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.targets }}-cross
          path: dist/${{ matrix.targets }}-cross

      - uses: actions/download-artifact@v4
        with:
          name: sources
          path: sources

      - uses: uraimo/run-on-arch-action@v2
        name: Build
        id: build
        with:
          arch: arm64
          distro: alpine_latest
          githubToken: ${{ github.token }}
          dockerRunArgs: |
            --volume "${PWD}:/build"
          shell: /bin/sh
          install: |
            apk add --no-cache \
              coreutils \
              curl \
              bzip2 \
              xz \
              make \
              bison \
              rsync \
              patch \
              perl
          run: |
            cd /build
            NATIVE_COMPILER="https://github.com/${{ github.repository }}/releases/download/${{ github.env.USE_NATIVE_VERSION }}/aarch64-linux-musl-native-${{ env.UNAMESPACER }}.tgz"
            NATIVE_COMPILER_STATUS=$(curl -sILo /dev/null -w "%{http_code}\n" $NATIVE_COMPILER)
            if [ $NATIVE_COMPILER_STATUS -ne 200 ]; then apk add --no-cache g++; else mkdir -p "aarch64-linux-musl-native" && curl -sL "$NATIVE_COMPILER" | tar -zxf - -C "aarch64-linux-musl-native" --strip-components 1 && chmod -R 0755 aarch64-linux-musl-native && export PATH="$PWD/aarch64-linux-musl-native/bin:$PATH"; fi
            chmod -R 0755 dist/${{ matrix.targets }}-cross
            sh scripts/build.sh \
                -NLDP \
                -T "${{ matrix.targets }}"

      - name: Archive
        run: |
          mkdir -p archive
          tar -zcvf archive/${{ matrix.targets }}-native-${{ env.UNAMESPACER }}.tgz \
            -C dist/${{ matrix.targets }}-native \
            .

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: false
          prerelease: false
          append_body: false
          fail_on_unmatched_files: true
          files: |
            archive/*.tgz